/build/
/dist/
/nbproject/private/

/*/build/
/*/dist/
/*/nbproject/private/

/*/*/build/
/*/*/dist/
/*/*/nbproject/private/
/MusicControl/build
/Score/src/org/jjazz/ui/score/TestScore/build/
/Score/src/org/jjazz/ui/score/TestScore/nbproject/private/
