/target/
/*/target/
/modules/*/target/
/libs/*/target/
*.sf2
nb-configuration.xml

/app/branding/target/
/core/Guava/target/
/core/Xstream/target/
/core/Utilities/target/
/app/Upgrade/target/
/core/Harmony/target/
/app/UIUtilities/target/
/app/UndoManager/target/
/core/ChordLeadSheet/target/
/core/FileDirectoryManager/target/
/core/Midi/target/
/app/Analytics/target/
/app/UISettings/target/
/core/Phrase/target/
/core/Rhythm/target/
/app/Startup/target/
/core/RhythmDatabase/target/
/app/Base/target/
/core/Quantizer/target/
/core/SongStructure/target/
/core/Song/target/
/core/MidiMix/target/
/core/TestPlayerService/target/
/core/OutputSynth/target/
/app/FlatComponents/target/
/app/ItemRenderer/target/
/core/SongContext/target/
/core/PhraseTransform/target/
/app/ActiveSong/target/
/core/RhythmMusicGeneration/target/
/app/InstrumentComponents/target/
/core/MusicControl/target/
/core/ChordSymbolTextInput/target/
/app/CL_Editor/target/
/app/SS_Editor/target/
/app/Arranger/target/
/app/Score/target/
/app/ChordInspector/target/
/app/InstrumentChooser/target/
/app/PianoRoll/target/
/app/SongEditorManager/target/
/core/RhythmStubs/target/
/app/MixConsole/target/
/app/MusicControlActions/target/
/app/EasyReader/target/
/app/ImprovisationSupport/target/
/core/EmbeddedSynth/target/
/app/RpCustomEditorFactoryImpl/target/
/app/Helpers/target/
/core/Importers/target/
/app/Print/target/
/app/SongMemoViewer/target/
/app/RhythmSelectionDialog/target/
/app/SptEditor/target/
/core/Biab/target/
/engines/YamJJazz/target/
/app/Test/target/
/app/ZoomableSliders/target/
/app/Options/target/
/app/FluidSynthJava/target/
/app/FluidSynthEmbeddedSynth/target/
/engines/YjzCreator/target/
/app/PopupWindowMenuPatch/target/
/app/application/target/
/core/FlatComponents/target/
