/nbproject/private/
/Harmony/build/
/build/
/JJazz UI Utilities/build/
/PopupWindowMenuPatch/build/
/FlatComponents/build/
/Utilities/build/
/ZoomableSliders/build/
/UndoManager/build/
/ChordLeadSheet/build/
/Midi/build/
/ColorSetManager/build/
/Quantizer/build/
/Rhythm/build/
/DefaultInstruments/build/
/RhythmDatabase/build/
/FileDirectoryManager/build/
/SongStructure/build/
/BaseX/build/
/MidiSynth/build/
/ItemRenderer/build/
/Diff/build/
/Song/build/
/Xstream/build/
/Importers/build/
/SavableSong/build/
/RhythmMusicGeneration/build/
/MusicControl/build/
/ActiveSong/build/
/SS_Editor/build/
/SptEditor/build/
/RhythmSelectionDialog/build/
/CL_Editor/build/
/Helpers/build/
/SongEditorManager/build/
/MusicControlActions/build/
/RhythmStubs/build/
/Options/build/
/InstrumentChooser/build/
/InstrumentsOptions/build/
/MixConsole/build/
/TestX/build/
/MidiMix/build/
/PopupWindowMenuPatch/build/
/JJazz UI Utilities/build/
/FlatComponents/build/
/Utilities/build/
/ZoomableSliders/build/
/UndoManager/build/
/Quantizer/build/
/ColorSetManager/build/
/Midi/build/
/Rhythm/build/
/ChordLeadSheet/build/
/DefaultInstruments/build/
/SongStructure/build/
/FileDirectoryManager/build/
/RhythmDatabase/build/
/BaseX/build/
/MidiSynth/build/
/ItemRenderer/build/
/Diff/build/
/Song/build/
/Xstream/build/
/RhythmMusicGeneration/build/
/MusicControl/build/
/SavableSong/build/
/Importers/build/
/ActiveSong/build/
/SptEditor/build/
/RhythmSelectionDialog/build/
/CL_Editor/build/
/Helpers/build/
/SongEditorManager/build/
/MusicControlActions/build/
/Options/build/
/RhythmStubs/build/
/InstrumentChooser/build/
/InstrumentsOptions/build/
/MixConsole/build/
/TestX/build/
/ChordLeadSheet/nbproject/private/
/InstrumentsOptions/nbproject/private/